---
import { AstroFont } from 'astro-font';

interface Props {
	title: string;
	siteName: string;
	siteDescription: string;
}

const { title, siteName, siteDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={siteDescription} />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={siteDescription} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<AstroFont
		config={[
						{
								src: [],
								name: "Sora",
								preload: false,
								display: "swap",
								fallback: "sans-serif",
								selector: ".font-sora",
								googleFontsURL: 'https://fonts.googleapis.com/css2?family=Sora:wght@100..800',
						},
				]}
		/>
	</head>
	<body>
		<div
			class="bg-zinc-100 bg-horizonAnimated bg-cover bg-scroll bg-center bg-no-repeat"
		>
			<div class="grid min-h-dvh grid-cols-1 place-content-center place-items-center gap-5">
				<slot />
			</div>
		</div>
	</body>
</html>
